[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Kylo is a data lake management software platform and framework for enabling scalable enterprise-class data lakes on Apache Hadoop and Spark. Kylo is licensed under Apache 2.0 and contributed by Think Big, A Teradata Company
[access "refs/*"]
	owner = group user/nimmagaddarajesh
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nimmagaddarajesh
	label-Verified = -1..+1 group user/nimmagaddarajesh
	push = group user/nimmagaddarajesh
	read = group user/nimmagaddarajesh
	rebase = group user/nimmagaddarajesh
	removeReviewer = group user/nimmagaddarajesh
	submit = group user/nimmagaddarajesh
[access "refs/heads/*"]
	create = group user/nimmagaddarajesh
	push = +force group user/nimmagaddarajesh
	pushMerge = group user/nimmagaddarajesh
	read = group user/nimmagaddarajesh
[access "refs/tags/*"]
	push = group user/nimmagaddarajesh
	push = +force group user/nimmagaddarajesh
